<footer class="footer">
  <% if (prev) { %>
      <a href=<%- include('smartlink.ejs'); %><%= prev.href %>>&larr;<%= prev.name %></a>
  <% } %>
  <% if (next && prev) { %>
    <span>&nbsp;|&nbsp;</span>  
  <% } %>
  <% if (next) { %>
      <a href=<%- include('smartlink.ejs'); %><%= next.href %>><%= next.name %>&rarr;</a>
  <% } %>
  <p>
    Pages built with <a href="https://github.com/PeterGrillot/webgen" target="_blank" rel="noopener noreferrer">Webgen technology</a> leveraging markdown and ejs.
  </p>
  <% if (links) { %>
    <ul>
    <% links.forEach(function(link){ %>
      <li>
        <a href=<%= link.href %> target="_blank" rel="noopener noreferrer">
          <%= link.name %>
        </a>
      </li>
    <% }); %>
    </li>
  <% } %>
</footer>