<!DOCTYPE html>
<html>
  <%- include('head.ejs'); %>
  <body>
    <%- include('nav.ejs'); %>
    <% if (href === 'index.html') { %>
      <%- include('hero.ejs'); %>
    <% } %>
    <%- include('content.ejs'); %>
    <%- include('footer.ejs'); %>
  </body>
  <script src="./static/menu.js"></script>
</html>